<%- include ('partials/header.ejs') %>
<body>
    <div class="container">
        <h3>Redefinição de senha!</h3>
        <hr>
        <% if (message) { %>
        <p><%= message %></p>
        <% } %>
    </div>
</body>
<%- include ('partials/footer.ejs') %>
